In [2]:
import pandas as pd

### Customers

In [3]:
customers =  pd.read_excel('CustomersData.xlsx')
customers.head()

   CustomerID Gender    Location  Tenure_Months
0       17850      M     Chicago             12
1       13047      M  California             43
2       12583      M     Chicago             33
3       13748      F  California             30
4       15100      M  California             49

Mencari kolom yang unique

In [4]:
customers.to_csv('data.csv', index=False)

In [22]:
c_row_count = customers.shape[0]
c_unique_counts = customers.nunique()
c_unique_columns = c_unique_counts[c_unique_counts == c_row_count].index.tolist()
print(c_unique_columns)

['CustomerID']

### discount

In [12]:
discount = pd.read_csv('Discount_Coupon.csv')
discount.head()

  Month Product_Category Coupon_Code  Discount_pct
0   Jan          Apparel      SALE10            10
1   Feb          Apparel      SALE20            20
2   Mar          Apparel      SALE30            30
3   Jan         Nest-USA      ELEC10            10
4   Feb         Nest-USA      ELEC20            20

mencari nilai kolom unique

In [23]:
d_row_count = discount.shape[0]
d_unique_counts = discount.nunique()
d_unique_columns = d_unique_counts[d_unique_counts == d_row_count].index.tolist()
print(d_unique_columns)

[]

In [28]:
d_row_count

204

In [27]:
unique_values = {col: discount[col].unique() for col in discount.columns}


for col, values in unique_values.items():
    print(f"Kolom {col}: {values}")

Kolom Month: ['Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec']
Kolom Product_Category: ['Apparel' 'Nest-USA' 'Office' 'Drinkware' 'Lifestyle' 'Bags' 'Notebooks'
 'Headgear' 'Nest' 'Waze' 'Bottles' 'Nest-Canada' 'Housewares'
 'Accessories' 'Gift Cards' 'Notebooks & Journals' 'Android']
Kolom Coupon_Code: ['SALE10' 'SALE20' 'SALE30' 'ELEC10' 'ELEC20' 'ELEC30' 'OFF10' 'OFF20'
 'OFF30' 'EXTRA10' 'EXTRA20' 'EXTRA30' 'AIO10' 'AIO20' 'AIO30' 'NOTES10'
 'NOTES20' 'NOTES30' 'HGEAR10' 'HGEAR20' 'HGEAR30' 'NE10' 'NE20' 'NE30'
 'WEMP10' 'WEMP20' 'WEMP30' 'BT10' 'BT20' 'BT30' 'NCA10' 'NCA20' 'NCA30'
 'HOU10' 'HOU20' 'HOU30' 'ACC10' 'ACC20' 'ACC30' 'GC10' 'GC20' 'GC30'
 'NJ10' 'NJ20' 'NJ30' 'AND10' 'AND20' 'AND30']
Kolom Discount_pct: [10 20 30]

In [42]:
d_filtered = discount.loc[(discount['Month'] =='Jan') & (discount['Product_Category'] == 'Nest-USA')]
print(d_filtered['Coupon_Code'].unique())
print(d_filtered['Discount_pct'].unique())

['ELEC10']
[10]

Note : primary key gabungan bulan dan product kategory

### marketing_spend

In [14]:
marketing_spend = pd.read_csv('Marketing_Spend.csv')
marketing_spend.head()

       Date  Offline_Spend  Online_Spend
0  1/1/2019           4500       2424.50
1  1/2/2019           4500       3480.36
2  1/3/2019           4500       1576.38
3  1/4/2019           4500       2928.55
4  1/5/2019           4500       4055.30

mencari kolom unique

In [24]:
ms_row_count = marketing_spend.shape[0]
ms_unique_counts = marketing_spend.nunique()
ms_unique_columns = ms_unique_counts[ms_unique_counts == ms_row_count].index.tolist()
print(ms_unique_columns)

['Date', 'Online_Spend']

### Online_sales

In [15]:
online_sales = pd.read_csv('Online_Sales.csv')
online_sales.head()

,CustomerID,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status
0,17850,16679,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used
1,17850,16680,1/1/2019,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used
2,17850,16681,1/1/2019,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used
3,17850,16682,1/1/2019,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used
4,17850,16682,1/1/2019,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used

mencari kolom unique

In [26]:
os_row_count = online_sales.shape[0]
os_unique_counts = online_sales.nunique()
os_unique_columns = os_unique_counts[os_unique_counts == os_row_count].index.tolist()
print(os_unique_columns)

[]